
conda create -n mmlab37 python=3.7 -y


absl-py==0.12.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
appdirs==1.4.4
apptools==5.1.0
argh==0.26.2
argon2-cffi==20.1.0
arrow==1.1.0
asn1crypto==1.3.0
astor==0.8.1
astroid==2.5.6
astropy==4.0.1.post1
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.5
Babel==2.9.1
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
binaryornot==0.4.4
bitarray @ file:///C:/ci/bitarray_1594753995860/work
bkcharts==0.2
black==21.5b1
bleach==3.3.0
bokeh @ file:///C:/ci/bokeh_1593187680264/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.4
comtypes==1.1.7
configobj==5.0.6
contextlib2==0.6.0.post1
contextvars==2.4
cookiecutter==1.7.3
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.23
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distributed @ file:///C:/ci/distributed_1594740075051/work
docutils==0.17.1
entrypoints==0.3
envisage==5.0.0
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
fsspec==0.7.4
future==0.18.2
gast==0.4.0
gevent @ file:///C:/ci/gevent_1593010720265/work
glob2==0.7
gmpy2==2.0.8
greenlet==0.4.16
grpcio==1.37.1
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
imgaug==0.4.0
immutables @ file:///C:/ci/immutables_1592426094604/work
importlib-metadata==4.0.1
importlib-resources==5.1.2
inflection==0.5.1
intervaltree==3.1.0
ipykernel==5.5.3
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.8.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab==2.1.5
jupyterlab-pygments==0.1.2
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets==1.0.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libarchive-c==2.9
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
lxml @ file:///C:/ci/lxml_1594821524941/work
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.3.0
mock==4.0.3
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.3.0
numba==0.50.1
numexpr==2.7.1
numpy==1.16.4
numpy-stl==2.16.0
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
olefile==0.46
opencv-python==4.5.2.52
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
packaging==20.9
pandas @ file:///C:/ci/pandas_1592833608684/work
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
poyo==0.5.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.7.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycodestyle==2.6.0
pycollada==0.7.1
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==6.0.0
pyface==7.3.0
pyflakes==2.2.0
Pygments==2.9.0
pylint==2.8.2
pyls-black==0.4.6
pyls-spyder==0.3.2
PyMCubes==0.1.2
PyNaCl @ file:///C:/ci/pynacl_1595009245871/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==5.0.2
python-utils==2.5.6
pytz==2021.1
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==1.0.1
PyYAML==5.3.1
pyzmq==22.0.3
QDarkStyle==3.0.2
qstylizer==0.2.0
QtAwesome==1.0.2
qtconsole==5.1.0
QtPy==1.9.0
regex==2021.4.4
requests==2.25.1
rope==0.19.0
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
snowballstemmer==2.1.0
sortedcollections==1.2.1
sortedcontainers==2.3.0
soupsieve==2.0.1
Sphinx==4.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder==5.0.2
spyder-kernels==2.0.3
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593446399229/work
statsmodels==0.11.1
sympy @ file:///C:/ci/sympy_1594234721190/work
tables==3.6.1
tblib==1.6.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.2
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
three-merge==0.1.1
tifffile==2020.9.3
tinycss2==1.1.0
toml==0.10.2
toolz==0.10.0
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==4.3.3
traits==6.2.0
traitsui==7.1.1
typed-ast==1.4.3
typing-extensions==3.10.0.0
ujson==4.0.2
unicodecsv==0.14.1
urllib3==1.26.4
vtk==9.0.1
watchdog==1.0.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
yapf==0.31.0
zict==2.0.0
zipp==3.4.1
zope.event==4.4
zope.interface==4.7.1
